[is='flynt-block-wysiwyg-sidebar'] {
  .contentWrapper {
    max-width: 1280px;
    // min-width: 1024px;

    @media (min-width: $breakpoint-mobile-horizontal) {
      display: flex;
      flex-direction: column-reverse;
    }
    
    @media (min-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: row;
    }
  }

  .sidebar {
    @include reset-content-margins;
    background-color: #f6f6f6;
    flex-shrink: 0;
    margin-bottom: 1.5rem;
    min-width: 345px;
    text-align: left;

    @media (min-width: $breakpoint-mobile-horizontal) {
      margin-bottom: 0;
      padding: 0 15px;
      // width: 350px;
    }

    img {
      margin: 5px auto;
      width: auto !important;
    } 
  }

  .content {
    @include reset-content-margins;
    max-width: $content-max-width;
    padding: 0 15px;
    text-align: left;
  }

  .left-sidebar {
    list-style: none;
    padding-left: 0.5rem;
  }
}
