<div class="flyntComponent componentSpacing {{ options.theme }}" is="flynt-block-custom-html">
  <div class="container centerMaxWidthContainer">
    <div class="content content--{{ textAlignment }} centerContentMaxWidth">
      <form> 
         <input type = "button" value = "Click Me" onclick = "Warn();" /> 
      </form>
      {{ contentHtml }}
    </div>
  </div>
</div>
