[is='flynt-navigation-main'] {
  $navigation-height: 150px;

  display: none;

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: block;
  }

  .wrapper {
    //background-color: $color-background;
    height: $navigation-height;
  }

  .container {
	  
    display: flex;
    // height: 100%;
    justify-content: space-between;
    // padding-bottom: 10px;
    // padding-top: 10px;
  }

  .containerScrolled {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  .logoScrolled {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    padding-bottom: 0;
    // padding-top: 10px;
  }

  .logoScrolled .logo {
    display: flex;
    justify-content: center;
  }

  // .logoScrolled .logo-image {
  //   height: auto;
  //   max-width: 160px;
  //   width: 100%;
  // }

  .menuContainer {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    height: $navigation-height;
    justify-content: space-between;
    left: 0;
    margin-top: -40px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
  }

  .utilityNav {
    background-color: rgba(0, 0, 0, 0.8);
    height: 30px;
    padding-bottom: 6px;
    padding-top: 5px;
    width: 100%;
  }

  .covid {
    background-color: #c4cd21;
    color: #333;
  }

  .bookNow {
    background-color: rgb(150, 12, 12);
    color: #fff;
    padding: 0.12rem 1rem;
  }
  
  .pill:hover {
    cursor: pointer;
  }

  .utilityNav .menu {
    width: 100%;
  }

  .utilityNav .menu li {
    color: #fff;
    padding: 3px 10px;
  }

  .utilityNav li a {
    color: #fff;
  }

  .logoContainer {
    max-height: 150px;
  }

  .logo {
    display: block;
    height: 75%;
    margin: 0 auto;

    &-image {
      height: 100%;
      width: auto;
    }
  }

  .menu {
    @include reset-list;

    align-items: center;
    display: flex;
    // margin-right: -18px;
    margin: 0 auto;
    padding-left: 36px;

    &-item--current {
      .menu-link {
        border-bottom: 5px solid #fff;
        color: #fff;
      }
      
      .menu-link-scrolled {
        border-bottom: 5px solid #fff;
        color: #fff;
      }
    }

    &-link {
      //color: $color-text;
      color: #fff;
      display: inline-block;
      font-weight: 600;
      padding: 7px 12px;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.2s ease-out;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }

    &-link-scrolled {
      //color: $color-text;
      color: #fff;
    }
  }

  .menu.left {
    justify-content: flex-start;
  }

  .menu.right {
    justify-content: flex-end;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  .nav-drop {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #000;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    margin-top: 0.3rem;
    opacity: 0;
    padding-left: 0;
    position: absolute;
    text-align: left;
    //-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    //-webkit-transition-property: -webkit-transform,opacity,visibility;
    transition-property: transform,opacity,visibility;
    visibility: hidden;
    width: 18rem;
    z-index: 101;
  }

  .nav-drop:not(.custom-content) li a {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.2rem 1rem;
  }
  // stylelint-disable selector-no-qualifying-type
  .menu-item:hover ul.nav-drop {
    opacity: 1;
    visibility: visible;
  }

  li.nav-drop-item {
    list-style: none;
  }

  li.nav-drop-item:hover {
    background-color: rgba(0, 0, 0, 1);
  }
  
  li.nav-drop-item a:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #bb0e02;
  }
  // stylelint-enable selector-no-qualifying-type

}

[is='flynt-navigation-main-blog'] {
  $navigation-height: 150px;

  display: none;

  @media (min-width: $breakpoint-tablet-horizontal) {
    display: block;
  }

  .wrapper {
    //background-color: $color-background;
    height: $navigation-height;
  }

  .container {
	  background-color: rgba(0, 0, 0, 1);
    display: flex;
    // height: 100%;
    justify-content: space-between;
    // padding-bottom: 10px;
    // padding-top: 10px;
  }

  .containerScrolled {
    
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  .logoScrolled {
    margin: 0;
    padding-bottom: 0;
    // padding-top: 10px;
  }

  .logoScrolled .logo {
    display: flex;
    justify-content: center;
  }

  // .logoScrolled .logo-image {
  //   height: auto;
  //   max-width: 160px;
  //   width: 100%;
  // }

  .menuContainer {
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    height: $navigation-height;
    justify-content: space-between;
    left: 0;
    margin-top: -40px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: fixed;
    width: 100%;
  }

  .utilityNav {
    background-color: rgba(0, 0, 0, 1);
    height: 30px;
    padding-bottom: 6px;
    padding-top: 5px;
    width: 100%;
  }

  .covid {
    background-color: #c4cd21;
    color: #333;
  }

  .bookNow {
    background-color: rgb(150, 12, 12);
    color: #fff;
    padding: 0.12rem 1rem;
  }
  
  .pill:hover {
    cursor: pointer;
  }

  .utilityNav .menu {
    width: 100%;
  }

  .utilityNav .menu li {
    color: #fff;
    padding: 3px 10px;
  }

  .utilityNav li a {
    color: #fff;
  }

  .logoContainer {
	  background-color: rgba(0, 0, 0, 1);
    max-height: 150px;
  }

  .logo {
    display: block;
    height: 75%;
    margin: 0 auto;

    &-image {
      height: 100%;
      width: auto;
    }
  }

  .menu {
    @include reset-list;

    align-items: center;
    display: flex;
    // margin-right: -18px;
    margin: 0 auto;
    padding-left: 36px;

    &-item--current {
      .menu-link {
        border-bottom: 5px solid #fff;
        color: #fff;
      }
      
      .menu-link-scrolled {
        border-bottom: 5px solid #fff;
        color: #fff;
      }
    }

    &-link {
      //color: $color-text;
      color: #fff;
      display: inline-block;
      font-weight: 600;
      padding: 7px 12px;
      text-decoration: none;
      text-transform: uppercase;
      transition: color 0.2s ease-out;

      &:hover,
      &:focus {
        color: $color-accent;
      }
    }

    &-link-scrolled {
      //color: $color-text;
      color: #fff;
    }
  }

  .menu.left {
    justify-content: flex-start;
  }

  .menu.right {
    justify-content: flex-end;
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }

  .nav-drop {
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #000;
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.3);
    margin-top: 0.3rem;
    opacity: 0;
    padding-left: 0;
    position: absolute;
    text-align: left;
    //-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    //-webkit-transition-property: -webkit-transform,opacity,visibility;
    transition-property: transform,opacity,visibility;
    visibility: hidden;
    width: 18rem;
    z-index: 101;
  }

  .nav-drop:not(.custom-content) li a {
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    padding: 0.2rem 1rem;
  }
  // stylelint-disable selector-no-qualifying-type
  .menu-item:hover ul.nav-drop {
    opacity: 1;
    visibility: visible;
  }

  li.nav-drop-item {
    list-style: none;
  }

  li.nav-drop-item:hover {
    background-color: rgba(0, 0, 0, 1);
  }
  
  li.nav-drop-item a:hover {
    background-color: rgba(0, 0, 0, 1);
    color: #bb0e02;
  }
  // stylelint-enable selector-no-qualifying-type

}

